$black:  #010B13;
$white:  #fdfdfd;
$blue:   #61dafb;
$pink:   #E72271;
$green:  #5fc49e;
$red:    #eb5a4f;
$orange: #f8a32c;
$purple: #a65cd4;

$orange: #F29559;
$tan: #FCD7AD;
$teal: #5296A5;
$taupe: #B8B08D;
$navy: #283845;

$primary-color: $orange;