@import '../mixins/import';

$base-font: 'Open Sans', sans-serif;
$all-caps: 'Jaldi', sans-serif;
$heading: 'Fredoka One', sans-serif;
$bold: 700;
$normal: 300;

@mixin heading {
  font-size: 24px;
  line-height: 34px;
  font-family: $heading;
  text-transform: uppercase;
  font-weight: $normal;
}

@mixin base-text {
  font-family: $base-font;
  font-size: 18px;
  font-weight: $normal;
  line-height: 1.5;
}

@mixin all-caps {
  font-family: $all-caps;
  text-transform: uppercase;
  font-weight: $bold;
}