@mixin button($color: $black) {
  @extend %all-caps;
  @include size(auto, 40px);
  font-size: 18px;
  line-height: 36px;
  display: inline-block;
  border: 2px solid $color;
  color: $color;
  transition: all $hover-transition;
  background: transparent;

  &:hover {
    background: $black;
    color: contrast-switch($black, $white, $black);
  }

  &:active, &:focus {
    outline: 0;
  }

  &:active {
    color: transparent;
  }
}