@import 'global';

.Input {
  @include position(absolute, null 0 0 $sidebar-width);
  padding: 0;

  input {
    @include base-input;
    transition: all $base-duration linear;
    color: $black;
    border: 0;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    padding: 10px 20px 10px 80px;
    background: rgba(255, 255 ,255, .3);

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

    &:focus {
      background: rgba(255, 255, 255, .5);
    }
    &::placeholder { color: rgba($black, .3); }
  }

  @include max-width(mobile) {
    left: 0;
  }

  .text {
    background: $white;
  }
}