@import 'global';

.Input {
  @include position(absolute, null 0 0 0);
  padding: 0;

  input {
    @include base-input;
    transition: all $base-duration linear;
    color: $black;
    border: 0;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    padding: 10px 20px;
    background: rgba(255, 255 ,255, .4);

    &:hover {
      background: rgba(255, 255, 255, .2);
    }

    &:focus {
      background: rgba(255, 255, 255, .6);
    }

    &::placeholder { color: rgba($black, .3); }

    @include min-width(mobile) {
      padding-left: 80px;
    }
  }
}