@import 'global';

.Messages {
  @include position(absolute, 0 0 60px 0);
  overflow: hidden;
  margin: 0;
  user-select: none;

  .messages {
    @include position(absolute, null 0 0 0);
    padding: 0; 
  }

  $timestamp-width: 80px;

  @keyframes message {
    0% { background: rgba($black, .3); }
    100% { background: transparent; }
  }

  .message {
    padding: 10px $mobile-outer-padding;
    animation: message .5s linear;
    animation-fill-mode: forwards;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding-right: $mobile-outer-padding;
    //border-top: 1px solid rgba(0, 0, 0, .1);
    font-size: 16px;
    line-height: 20px;

    @include min-width(mobile) {
      @include padding(12px 5px 12px $timestamp-width);
      font-size: 16px;
    }
  }

  .timestamp {
    font-size: 12px;
    line-height: 20px;
    font-family: monospace;
    font-weight: normal;
    color: rgba($black, .5);
    text-align: center;
    float: right;
    width: $timestamp-width;

    @include min-width(mobile) {
      @include position(absolute, 0 null null 0);
      line-height: 40px;
    }
  }

  .username {
    @include all-caps;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;;
    display: block;
    margin: 0;

    @include min-width(mobile) {
      font-size: 16px;
    }
  }

  .highlight {
    color: $white;
  }
}