@import 'global';

.UserList {
  @include position(absolute, 0 null 0 0);
  @include pad(true);
  width: $sidebar-width;

  h2 {
    @extend %all-caps;
    @include scale(font-size 14px 24px, line-height 20px 30px);
    color: $red;
  }

  ul {
    overflow-y: scroll;
  }

  .users, li {
    padding: 0;
    list-style-type: none;
  }

  .users li {
    margin: 0;
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid rgba($black, .1);
    position: relative;

    &:last-child { border: 0; }

    i {
      font-style: normal;
      float: right;
      background: $black;
      color: $white;
      border-radius: 100px; 
      padding: 0 10px;
      font-size: .7em;
      line-height: 20px;
    }

    &:before {
      @include position(absolute, 13px null null 0);
      @include size(14px);
      content: '';
      border-radius: 100%;
    }

    &.online:before {
      background: $green;
    }

    .username {
      @extend %all-caps;
      display: block;
      font-size: 18px;
      line-height: 20px;
      margin: 0 0 5px 0;
    }

    .status {
      @extend %all-caps;
      display: block;
      font-size: .7em;
      line-height: .8;
    }
  }
}