@import '../sass/import';

.JackBot {
  @include clearfix;

  .card {
    @include size(50px, 80px);
    float: left;
    display: block;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: Center;
    border: 2px solid $black;
    margin-right: 5px;

    &:before, &:after { font-size: 12px; }

    &:before { @include position(absolute, 3px null null 3px); }
    &:after  { @include position(absolute, null 3px 3px null); }

    &.♥, &.♥ {
      color: $red;

      &:before, &:after { content: '♥'; }
    }

    &.♦, &.♦ {
      color: $red;

      &:before, &:after { content: '♦'; }
    }

    &.♠:before, &.♠:after { content: '♠' }
    &.♣:before, &.♣:after { content: '♣' }

    .face {
      @extend %all-caps;
      font-size: 32px;
      margin: 0;
    }
  }
}